*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    font-size: 1.1rem;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    flex-direction: row;
    align-items: center;
}
.navbar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    position: relative;
    height: 100%;
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all .5s ease;
    z-index: 1;
}
.navbar ul li::before{
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0px;
    background-color: yellow;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all .5s ease;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0px;
    background-color: yellow;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all .5s ease;
}
.navbar ul li a::before{
    position: absolute;
    content: '';
    height: 33.33%;
    width: 0%;
    background-color: yellow;
    bottom: 66.66%;
    left: 0;
    transition: all .5s ease;

}
.navbar ul li:hover::before,
.navbar ul li:hover::after,
.navbar ul li:hover a::before{
    width: 100%;
}

/* Home */
#home{
    display: flex;
    flex-direction: column;
}
.homepage{
    background-image: url(https://images.unsplash.com/photo-1587300339917-153206f5d832?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.name{
    justify-content: center;
    text-align: center;
    color: black;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding-left: 50px;
}
p{
    text-align: center;
    right: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

}

/* About */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
#picture{
    display: flex;
}
#picture img{
    width: 600px;
    height: 520px;
}
.heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
#introduction{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;

}
#introduction h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    right: 10%;
}

/* Skills */

/* Projects */

/* Contact */
#contact{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 255, 00) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px rgb(255, 255, 00);
}
 /* Footer */
 .footer-copyright{
     text-align: center;
     background-color: rgb(230, 230, 230);
     height: 50px;
     position: sticky;

 }

